/* Global styles */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid #333;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

.logo {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

div.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1.exo-title {
    font-size: 4em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 50px auto;
    max-width: 800px;
    height: 100%;
}

section h2 {
    font-size: 1.9em;
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul#exercises-list {
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    max-height: 215px;
}

ul#exercises-list::-webkit-scrollbar {
    width: 0.1em;
}

ul#exercises-list::-webkit-scrollbar-thumb {
    background-color: #FF5733;
    outline: 1px solid #FF5733;
}

p#exo-text {
    background: white;
    font-size: 3em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.letter-done {
    color: #28a745;
}

.introduction {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.last-exercise {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 50px;
}

.exercise-selection ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.exercise-selection li {
    margin: 20px 10px;
}

.exercise-button {
    background-color: #FF5733;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.exercise-button:hover {
    background-color: #E64A19;
}

.start-button {
    background-color: #28a745;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.start-button:hover {
    background-color: #218838;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #333;
    color: white;
}


#container {
    margin: 10px auto;
    width: 800px;
}
#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 671px;
    height: 120px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}
#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: none;
    transition: all 0.1s ease;
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 70px;
}
#keyboard .capslock {
    width: 80px;
}
#keyboard .return {
    width: 77px;
}
#keyboard .left-shift {
    width: 95px;
}
#keyboard .right-shift {
    width: 109px;
}
#keyboard .lastitem {
    margin-right: 0;
    /* expand width to right */
    flex-grow: 1;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 681px;
}
.majOn {
    display: none;
}
/* #keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
} */

#keyboard .active {
    background-color: red;
    position: relative;
    top: 1px;
    left: 1px;
    color: white;
    border-color: #e5e5e5;
}

.line {
    display: flex;
}

#keyboard li.letter-to-type {
    background-color: #6d6d6d;
    color: white;
    transform: scale(1.05);
}

/* fingers colors */
#keyboard .p {
    background-color: #c9c8ff;
}

#keyboard .r {
    background-color: #acf3c7;
}

#keyboard .m {
    background-color: #ffbdca;
}

#keyboard .l {
    background-color: #99e9e5;
}

#keyboard .i {
    background-color: #ffeb99;
}